.mainHeaderName{
    font-size: 14px!important;
}
.firstRow{
  margin-top: -5px;
}
.patientValues{
  float: right;
}
.patientDetailsSearchBar{
  margin-bottom: -15px;
}
.radioOption{
  margin: -15px;
}
.clear{
  margin-right: -10px!important;
}
.noRecord{
  text-align: center;
  font-weight: 500;
  color: black;
  margin: 10px!important;
}