.patientValues.resultValue{
  text-transform: capitalize!important;
}
.material-icons{
  font-family: 'Material Icons' !important;
  
}
.mat-divider {
  width: 100%;
}

.matIcons{
  float: right;
  color: black !important;
  font-size: 25px !important;
}
