<mat-toolbar>
  <!-- <button mat-icon-button> -->
  <ion-menu-button class="menuIcon">
  </ion-menu-button>
<!-- </button> -->
<!-- *ngIf="(networkType != none || networkType != 'unknown')"  -->
@if (networkType != 'none') {
  <mat-icon suffix class="matIcons onlineIcon"
    >cloud_done</mat-icon
    >
  }
  @if (networkType == 'none') {
    <mat-icon suffix class="matIcons offlineIcon"
      >cloud_off</mat-icon
      >
    }
    <p class="mainHeaderName" text-wrap>{{appMenuName}}</p>
  </mat-toolbar>

  <ion-content>
    <ion-list lines="full">
      @for (p of appPages; track p; let i = $index) {
        @if (p.access) {
          <ion-item
            [routerDirection]="'root'"
            (click)="toggleLevel1('idx'+i)"
            [ngClass]="{active: isLevel1Shown('idx'+i)}"
            >
            <ion-label>
              @if (p.name == 'COVID-19') {
                <mat-icon
                  class="matIcons firstLevelLeftIcon"
                  >
                  coronavirus
                </mat-icon>
              }
              @if (p.name == 'EID') {
                <mat-icon class="matIcons firstLevelLeftIcon"
                  >child_care</mat-icon
                  >
                }
                @if (p.name=='VL') {
                  <ion-icon
                    class="matIcons firstLevelLeftIcon vlIcon"
                    name="flask"
                  ></ion-icon>
                }
                <span class="level1Span">{{p.name}}</span>
                <mat-icon class="matIcons firstLevelRightIcon">
                  {{isLevel1Shown('idx'+i) ? 'expand_more' : 'expand_less'}}
                </mat-icon>
                @if (isLevel1Shown('idx'+i)) {
                  <ul class="level1">
                    @for (i1 of p.item; track i1; let j = $index) {
                      @if (i1.access) {
                        <li
                          (click)="toggleLevel2('idx'+i+'idx'+j)"
                          [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+j)}"
                          >
                          <mat-icon class="matIcons secondLevelIcon">
                            {{isLevel2Shown('idx'+i+'idx'+j) ? 'expand_more' :
                            'expand_less'}}
                          </mat-icon>
                          <span class="level2Span">{{i1.name}}</span>
                          @if (isLevel2Shown('idx'+i+'idx'+j)) {
                            <ul class="level2">
                              @for (i2 of i1.item; track i2; let k = $index) {
                                @if (i2.access) {
                                  <div>
                                    @if ((i2.id!=1 || (i2.id==1 && isTestingUser=='yes'))) {
                                      <li
                                        (click)="toggleLevel3('idx'+i+'idx'+j+'idx'+k,i2)"
                                        [ngClass]="{active: isLevel3Shown('idx'+i+'idx'+j+'idx'+k)}"
                                        >
                                        <mat-icon matPrefix class="matIcons thirdLevelIcon"
                                          >keyboard_arrow_right</mat-icon
                                          >
                                          <span class="level3Span">{{i2.name}}</span>
                                        </li>
                                      }
                                    </div>
                                  }
                                }
                              </ul>
                            }
                          </li>
                        }
                      }
                    </ul>
                  }
                </ion-label>
              </ion-item>
            }
          }
          <ion-item routerLink="/profile">
            <ion-label>
              <mat-icon matPrefix class="matIcons">portrait</mat-icon
                ><span class="singleMenuSpan">Profile</span>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>

        @if (lastSyncDateTime) {
          <ion-footer class="ion-no-border" (click)="showSyncTimeline()">
            <ion-toolbar class="footerToolbar">
              <ion-title class="footerTitle">
                <p class="syncDate">
                  Last synced on {{lastSyncDateTime | date :'d MMM y h:mm a'}}
                </p></ion-title
                >
              </ion-toolbar>
            </ion-footer>
          }
