<ion-app [class]="selectedTheme">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" class="sideMenu">
      <div class="sideMenuHeader">
        <img class="sideMenuLogo" src="assets/imgs/icon.png" alt="">
        <div class="sideMenuIdentity">
          <strong>InteLIS Mobile</strong>
          @if (userName) {
            <span>{{userName}}</span>
          }
          <span class="sideMenuRole">{{isTestingUser == 'yes' ? 'Testing lab' : 'Collection site'}}</span>
        </div>
      </div>
      <ion-content class="sideMenuContent">
        <nav class="sideMenuNav">
          <button class="sideMenuItem" (click)="menuNavigate('/menu')">
            <mat-icon>home</mat-icon><span>Home</span>
          </button>

          @for (p of appPages; track p.name) {
            @if (p.access && menuActions(p).length) {
              <p class="sideMenuSection">{{p.name == 'VL' ? 'Viral Load' : p.name}}</p>
              @for (a of menuActions(p); track a.name) {
                <button class="sideMenuItem" (click)="menuNavigate(a.url)">
                  <mat-icon>{{menuActionIcon(a)}}</mat-icon><span>{{menuActionLabel(a)}}</span>
                </button>
              }
            }
          }

          <p class="sideMenuSection">Account</p>
          <button class="sideMenuItem" (click)="menuNavigate('/profile')">
            <mat-icon>account_circle</mat-icon><span>Profile</span>
          </button>
          <button class="sideMenuItem" (click)="toggleMenu('sync')">
            <mat-icon>sync</mat-icon><span>Sync with Server</span>
          </button>
          <button class="sideMenuItem" (click)="logout()">
            <mat-icon>logout</mat-icon><span>Log out</span>
          </button>
        </nav>
      </ion-content>
      <div class="sideMenuFooter">
        <a href="https://deforay.github.io/intelis-mobile/privacy.html" target="_blank">Privacy Policy</a>
        <span>Version {{appVersionNumber}}</span>
      </div>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>


  </ion-split-pane>
</ion-app>
