<mat-toolbar>
  <!-- <button mat-icon-button > -->
  @if (isMenuOrBackButton=='menu') {
    <ion-menu-button class="menuIcon"></ion-menu-button>
  }
<!-- </button> -->
@if (isMenuOrBackButton=='back') {
  <button mat-icon-button (click)="goBack()">
    <mat-icon matSuffix class="menuIcon">arrow_back_ios</mat-icon>
  </button>
}
<p class="mainHeaderName" text-wrap>{{titleHeader}}</p>
</mat-toolbar>

<ion-content>



  <mat-accordion class="example-headers-align">

    <form [formGroup]="siteInfoPanelForm" novalidate>
      @if (isToggled==false) {
        <mat-expansion-panel class="matPanel" [expanded]="step === 0" (opened)="setStep(0)"
          hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Information sur la structure de soins
            </mat-panel-title>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </mat-expansion-panel-header>
          <ion-row>
            <ion-col size="12">
              <p> To be filled by requesting Clinician/Nurse</p>
            </ion-col>
          </ion-row>
          @if (appSampleCode || sampleCode) {
            <ion-row>
              <ion-col size="5">
                <p text-wrap>
                  @if (sampleCode) {
                    <span class="text-title-color">Sample ID </span>
                  }
                  @if (!sampleCode) {
                    <span class="text-title-color">Offline Test Request ID</span>
                  }
                </p>
              </ion-col>
              <ion-col size="1" class="grid-readonly-col">
                <p text-wrap>
                  <span class="text-title-color">:</span>
                </p>
              </ion-col>
              <ion-col size="6" class="grid-readonly-col">
                <p text-wrap style="float:right;">
                  <span> {{sampleCode? sampleCode:appSampleCode}}</span>
                </p>
              </ion-col>
            </ion-row>
          }
          <mat-form-field appearance="fill">
            <mat-label>Province</mat-label>
            <input [readonly]="mode=='view' || mode=='result edit'"
              type="text" matInput formControlName="POEState" required [matAutocomplete]="autoPOEState"
              [errorStateMatcher]="matcher" [ngClass]="{ 'mat-form-field-invalid':submitted }">
            <mat-autocomplete #autoPOEState="matAutocomplete"
              (optionSelected)="onChangePOEState($event)">
              @for (option of POEStateFilteredOptions  | async; track option) {
                <mat-option [value]="option">
                  {{option}}
                </mat-option>
              }
            </mat-autocomplete>
            @if (siteInfoPanelForm.controls.POEState.hasError('required')) {
              <mat-error>
                Please choose Province
              </mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Zone de Santé</mat-label>
            <input [readonly]="mode=='view' || mode=='result edit'"
              type="text" matInput formControlName="POECounty" required [matAutocomplete]="autoPOECounty"
              [errorStateMatcher]="matcher" [ngClass]="{ 'mat-form-field-invalid':submitted }">
            <mat-autocomplete #autoPOECounty="matAutocomplete" (optionSelected)="onChangePOECounty($event)">
              @for (option of POECountyFilteredOptions | async; track option) {
                <mat-option [value]="option">
                  {{option}}
                </mat-option>
              }
            </mat-autocomplete>
            @if (siteInfoPanelForm.controls.POECounty.hasError('required')) {
              <mat-error>
                Please choose Zone de Santé
              </mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Nom de l'installation</mat-label>
            <input [readonly]="mode=='view' || mode=='result edit'"
              type="text" matInput formControlName="POE" required [matAutocomplete]="autoPOE"
              [errorStateMatcher]="matcher" [ngClass]="{'mat-form-field-invalid':submitted }">
            <mat-autocomplete #autoPOE="matAutocomplete">
              @for (option of POEFilteredOptions | async; track option) {
                <mat-option [value]="option">
                  {{option}}
                </mat-option>
              }
            </mat-autocomplete>
            @if (siteInfoPanelForm.controls.POE.hasError('required')) {
              <mat-error>
                Please choose Nom de l'installation
              </mat-error>
            }
          </mat-form-field>
          <!-- [(value)]="maritalSelected"  -->
          <mat-form-field appearance="fill">
            <mat-label>Partnaire d'appui</mat-label>
            <mat-select [readonly]="mode=='view' || mode=='result edit'"
              formControlName="implementingPartner" [errorStateMatcher]="matcher" [(value)]="implementingSelected"
              [ngClass]="{ 'mat-form-field-invalid':submitted }">
              @for (item of implementingPartnerArray; track item) {
                <mat-option [value]="item.value" [disabled]="isOptionDisabled()">
                  {{item.name}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Source de Financement</mat-label>
            <mat-select [readonly]="mode=='view' || mode=='result edit'"
              formControlName="fundingPartner" [errorStateMatcher]="matcher" [(value)]="fundingSelected"
              [ngClass]="{ 'mat-form-field-invalid':submitted }">
              @for (item of fundingPartnerArray; track item) {
                <mat-option [value]="item.value" [disabled]="isOptionDisabled()">
                  {{item.name}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-action-row>
            <button mat-button color="primary" (click)="nextStepSiteInfo(siteInfoPanelForm.valid)">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      }
    </form>



    <form [formGroup]="childMotherDetailsPanelForm" novalidate>
      @if (isToggled==false) {
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header class="matHeader">
            <mat-panel-title>
              Données démographiques mère / enfant
            </mat-panel-title>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </mat-expansion-panel-header>
          <mat-card-subtitle>
            ID de la mère
          </mat-card-subtitle>
          <mat-form-field appearance="fill" class="caseID">
            <mat-label>
            Code (si applicable)</mat-label>
            <input [readonly]="mode=='view' || mode=='result edit'"
              matInput formControlName="mothersId" [errorStateMatcher]="matcher"
              [ngClass]="{ 'mat-form-field-invalid':submitted }">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Nom </mat-label>
            <input [readonly]="mode=='view' || mode=='result edit'"
              matInput formControlName="mothersName" [errorStateMatcher]="matcher"
              [ngClass]="{ 'mat-form-field-invalid':submitted }">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Date de naissance</mat-label>
            <input [readonly]="true"
              [attr.readonly]="mode === 'view' || mode === 'result edit' ? true : null" matInput [matDatepicker]="mothersDobPicker"
              formControlName="mothersDob" [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="mothersDobPicker" [disabled]="mode === 'view' || mode === 'result edit'"></mat-datepicker-toggle>
            <!-- <ion-icon name="close" *ngIf="mode!='view'" class="clearDateIcon" ios="ios-close" (click)="clearMDOB()">
          </ion-icon> -->
          <ion-icon name="close" class="clearDateIcon"
            ios="ios-close"
            [ngClass]="{'disabled-icon': mode === 'view' || mode === 'result edit'}"
            (click)="mode !== 'view' && mode !== 'result edit' && clearMDOB()">
          </ion-icon>
          <mat-datepicker #mothersDobPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Etat civil</mat-label>
          <mat-select [readonly]="mode=='view' || mode=='result edit'"
            formControlName="mothersMaritalStatus" [(value)]="maritalSelected" [errorStateMatcher]="matcher"
            [ngClass]="{ 'mat-form-field-invalid':submitted }">
            @for (item of maritalStatArray; track item) {
              <mat-option [value]="item.value" [disabled]="isOptionDisabled()">
                {{item.name}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-card-subtitle>
          ID de l'enfant
        </mat-card-subtitle>
        @if (mode!='view') {
          <ion-grid>
            <ion-row>
              <ion-col size="10">
                <ion-searchbar showCancelButton="never" class="patientSearchBar" placeholder="Code du patient"
                formControlName="search" mode="ios"> </ion-searchbar>
              </ion-col>
              <ion-col size="2" class="ion-align-self-end">
                <button mat-mini-fab class="previousButton" class="searchMatIcon" (click)="searchPatient()"
                  [disabled]="childMotherDetailsPanelForm.controls.search.value.length==0">
                  <mat-icon class="searchIcon">search</mat-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        }
        <mat-form-field appearance="fill" class="caseID">
          <mat-label>
          Code de l’enfant (Patient)</mat-label>
          <input [readonly]="mode=='view' || mode=='result edit'"
            matInput formControlName="child_id" required [errorStateMatcher]="matcher"
            [ngClass]="{ 'mat-form-field-invalid':submitted }">
          @if (childMotherDetailsPanelForm.controls.child_id.hasError('required')) {
            <mat-error>
              Please enter Infant Code
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Nom </mat-label>
          <input [readonly]="mode=='view' || mode=='result edit'"
            matInput formControlName="firstName" [errorStateMatcher]="matcher"
            [ngClass]="{ 'mat-form-field-invalid':submitted }">
          @if (childMotherDetailsPanelForm.controls.firstName.hasError('required')) {
            <mat-error>
              Please enter Nom
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Date de naissance</mat-label>
          <input [readonly]="true"
            [attr.readonly]="mode === 'view' || mode === 'result edit' ? true : null" matInput [matDatepicker]="dobPicker"
            formControlName="dob" [max]="maxDate" (dateChange)="calAge()">
          <mat-datepicker-toggle matSuffix [for]="dobPicker" [disabled]="mode === 'view' || mode === 'result edit'"></mat-datepicker-toggle>
          <!-- <ion-icon name="close" *ngIf="mode!='view'" class="clearDateIcon" ios="ios-close" (click)="clearDOB()">
        </ion-icon> -->
        <ion-icon name="close" class="clearDateIcon"
          ios="ios-close"
          [ngClass]="{'disabled-icon': mode === 'view' || mode === 'result edit'}"
          (click)="mode !== 'view' && mode !== 'result edit' && clearDOB()">
        </ion-icon>
        <mat-datepicker #dobPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Age en mois</mat-label>
        <input
          matInput type="tel" formControlName="age">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select [readonly]="mode=='view' || mode=='result edit'"
          formControlName="gender" [(value)]="genderSelected" [errorStateMatcher]="matcher"
          [ngClass]="{ 'mat-form-field-invalid':submitted }">
          @for (item of genderArray; track item) {
            <mat-option [value]="item.value" [disabled]="isOptionDisabled()">
              {{item.name}}
            </mat-option>
          }
        </mat-select>
        @if (childMotherDetailsPanelForm.controls.gender.hasError('required')) {
          <mat-error>
            Please enter Gender
          </mat-error>
        }
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
      <mat-label>Address </mat-label>
      <input [readonly]="mode=='view' || mode=='result edit'" [disabled]="mode=='view' || mode=='result edit'"
        matInput formControlName="address" [errorStateMatcher]="matcher"
        [ngClass]="{ 'mat-form-field-invalid':submitted }">
      <mat-error *ngIf="childMotherDetailsPanelForm.controls.address.hasError('required')">
        Please enter Address
      </mat-error>
    </mat-form-field> -->
    <!-- <mat-form-field appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input [readonly]="mode=='view' || mode=='result edit'" [disabled]="mode=='view' || mode=='result edit'" type="tel" matInput formControlName="phoneNo"
      [errorStateMatcher]="matcher"
      [ngClass]="{ 'mat-form-field-invalid':submitted }">
  </mat-form-field> -->
  <mat-action-row>
    <button mat-button class="previousButton" (click)="prevStep()">Previous</button>
    <button mat-button color="primary"
    (click)="nextStepChildMotherDetails(childMotherDetailsPanelForm.valid)">Next</button>
  </mat-action-row>
</mat-expansion-panel>
}
</form>



<form [formGroup]="motherHealthInfoPanelForm" novalidate>
  @if (isToggled==false) {
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header class="matHeader">
        <mat-panel-title>
          Management de la mère
        </mat-panel-title>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </mat-expansion-panel-header>
      <div class="panel-gap"></div>
      <mat-form-field appearance="fill">
        <mat-label>ARV donnés à la maman pendant la grossesse:</mat-label>
        <mat-select [readonly]="mode=='view' || mode=='result edit'" multiple
          formControlName="motherTreatment"
          (selectionChange)="onChangeMotherTreatment($event.value)">
          @for (item of motherTreatmentArray; track item) {
            <mat-option [value]="item.value" [disabled]="isOptionDisabled()">
              {{item.name}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      @if (this.motherHealthInfoPanelForm.controls.motherTreatment.value.includes('Other')) {
        <mat-form-field appearance="fill"
          >
          <mat-label>Autres (à préciser):</mat-label>
          <input [readonly]="mode=='view' || mode=='result edit'"  matInput formControlName="motherTreatmentOther"
            [required]="this.motherHealthInfoPanelForm.controls.motherTreatment.value.includes('Other')">
        </mat-form-field>
      }
      <mat-form-field appearance="fill">
        <mat-label>CD4</mat-label>
        <input [readonly]="mode=='view' || mode=='result edit'"  placeholder="CD4" type="tel" matInput formControlName="mothercd4">
      </mat-form-field>
      <mat-label>Viral Load</mat-label>
      <mat-form-field appearance="fill">
        <mat-label>Viral Load in copiesl/ml</mat-label>
        <input placeholder="Viral Load in copiesl/ml" [readonly]="mode=='view' || mode=='result edit'"  type="tel" (input)="onChangeVl('motherViralLoadCopiesPerMl')"
          matInput formControlName="motherViralLoadCopiesPerMl">
      </mat-form-field>
      <mat-label>-OR-</mat-label>
      <mat-form-field appearance="fill">
        <mat-label>Viral Load</mat-label>
        <mat-select [readonly]="mode=='view' || mode=='result edit'"
          formControlName="motherViralLoadText" placeholder="Viral Load" [errorStateMatcher]="matcher"
          [ngClass]="{ 'mat-form-field-invalid':submitted }" (selectionChange)="onChangeVl('motherViralLoadText')">
          @for (item of motherViralLoadArray; track item) {
            <mat-option [value]="item.value" [disabled]="isOptionDisabled()">
              {{item.name}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-action-row>
        <button mat-button class="previousButton" (click)="prevStep()">Previous</button>
        <button mat-button color="primary"
        (click)="nextStepChildisMotherHealthDetails(motherHealthInfoPanelForm.valid)">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  }
</form>



<form [formGroup]="childInfoPanelForm" novalidate>
  @if (isToggled==false) {
    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header class="matHeader">
        <mat-panel-title>
          Mangement de l’enfant
        </mat-panel-title>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </mat-expansion-panel-header>
      <div class="panel-gap"></div>
      <mat-form-field appearance="fill">
        <mat-label>Bébé a reçu::</mat-label>
        <mat-label>(Cocher tout ce qui est reçu, Rien, ou inconnu)</mat-label>
        <!-- (selectionChange)="onChangeChildTreatment($event.value)" -->
        <mat-select [readonly]="mode=='view' || mode=='result edit'" multiple
          formControlName="childTreatment">
          @for (item of childTreatmentArray; track item) {
            <mat-option [value]="item.value" [disabled]="isOptionDisabled()">
              {{item.name}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Bébé a arrêté allaitement maternel ?</mat-label>
        <mat-select [readonly]="mode=='view' || mode=='result edit'"
          formControlName="hasInfantStoppedBreastfeeding">
          @for (item of InfantRapidHIVArray; track item) {
            <mat-option [value]="item.value" [disabled]="isOptionDisabled()">
              {{item.name}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      @if (childInfoPanelForm.controls.hasInfantStoppedBreastfeeding.value=='yes') {
        <mat-form-field appearance="fill"
          >
          <mat-label>Age (mois) arrêt allaitement :</mat-label>
          <input [readonly]="mode=='view' || mode=='result edit'"
            matInput type="tel" formControlName="ageBfeedingStopped">
        </mat-form-field>
      }
      <mat-form-field appearance="fill">
        <mat-label>Choix d’allaitement de bébé :</mat-label>
        <mat-select [readonly]="mode=='view' || mode=='result edit'"
          formControlName="choiceOfFeeding">
          @for (item of choiceOfFeedingArray; track item) {
            <mat-option [value]="item.value" [disabled]="isOptionDisabled()">
              {{item.name}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cotrimoxazole donné au bébé?</mat-label>
        <mat-select [readonly]="mode=='view' || mode=='result edit'"
          formControlName="isCotrimoxazoleBeingAdministered">
          @for (item of ctxArray; track item) {
            <mat-option [value]="item.value" [disabled]="isOptionDisabled()">
              {{item.name}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-action-row>
        <button mat-button class="previousButton" (click)="prevStep()">Previous</button>
        @if (isTestingUser=='yes') {
          <button mat-button color="primary"
          (click)="nextStepChildInformation(childInfoPanelForm.valid)">Next</button>
        }
        @if (isTestingUser=='no' && mode=='view') {
          <button mat-button color="primary"
          (click)="goToViewResult()">Next</button>
        }
      </mat-action-row>
    </mat-expansion-panel>
  }
</form>



<form [formGroup]="specimenInfoPanelForm" novalidate>
  @if (isToggled==false) {
    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
      <mat-expansion-panel-header class="matHeader">
        <mat-panel-title>
          Information sur l’échantillon
        </mat-panel-title>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </mat-expansion-panel-header>
      <div class="panel-gap"></div>
      <mat-form-field appearance="fill">
        <mat-label>Date de collecte </mat-label>
        <input [readonly]="mode=='view' || mode=='result edit'"
          [attr.readonly]="mode === 'view' || mode === 'result edit' ? true : null"
          matInput type="datetime-local" [max]="maxDatetime" [min]="maxSampleCollectionDate"
          formControlName="sampleCollectionDateTime" required [errorStateMatcher]="matcher"
          [ngClass]="{ 'mat-form-field-invalid':submitted }" (dateChange)="setMaxSampleReceivedDate()">
        <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
        <!-- <ion-icon name="close" *ngIf="mode!='view'" class="clearDateIcon" ios="ios-close"
      (click)="clearSampleCollection()"></ion-icon> -->
      <ion-icon name="close" class="clearDateIcon"
        ios="ios-close"
        [ngClass]="{'disabled-icon': mode === 'view' || mode === 'result edit'}"
        (click)="mode !== 'view' && mode !== 'result edit' && clearSampleCollection()">
      </ion-icon>
      @if (specimenInfoPanelForm.controls.sampleCollectionDateTime.hasError('required')) {
        <mat-error>
          Please enter Date de collecte
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tel. du préleveur</mat-label>
      <input [readonly]="mode=='view' || mode=='result edit'"
        type="tel" matInput formControlName="sampleRequestorPhone">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nom du demandeur</mat-label>
      <input [readonly]="mode=='view' || mode=='result edit'"
        type="text" matInput formControlName="sampleRequestorName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Raison de la PCR (cocher une): </mat-label>
      <mat-select [readonly]="mode=='view' || mode=='result edit'"
        formControlName="reasonForPCR">
        @for (item of pcrTestReasonArray; track item) {
          <mat-option [value]="item.value" [disabled]="isOptionDisabled()">
            {{item.name}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Test rapide effectué?</mat-label>
      <mat-select [readonly]="mode=='view' || mode=='result edit'"
        formControlName="rapidTestPerformed">
        @for (item of InfantRapidHIVArray; track item) {
          <mat-option [value]="item.value" [disabled]="isOptionDisabled()">
            {{item.name}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    @if (specimenInfoPanelForm.controls.rapidTestPerformed.value=='yes') {
      <mat-form-field appearance="fill">
        <mat-label> Si oui, date :</mat-label>
        <input  readonly matInput [matDatepicker]="testPicker"
          formControlName="rapidtestDate" [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="testPicker"></mat-datepicker-toggle>
        <!-- <ion-icon name="close" *ngIf="mode!='view'" class="clearDateIcon" ios="ios-close" (click)="clearDOT()">
      </ion-icon> -->
      <ion-icon name="close" class="clearDateIcon"
        ios="ios-close"
        [ngClass]="{'disabled-icon': mode === 'view' || mode === 'result edit'}"
        (click)="mode !== 'view' && mode !== 'result edit' && clearDOT()">
      </ion-icon>
      <mat-datepicker #testPicker></mat-datepicker>
    </mat-form-field>
  }
  @if (specimenInfoPanelForm.controls.rapidTestPerformed.value=='yes') {
    <mat-form-field appearance="fill">
      <mat-label>Résultat test rapide</mat-label>
      <mat-select [readonly]="mode=='view' || mode=='result edit'"
        formControlName="rapidTestResult">
        @for (item of RapidTestResultArray; track item) {
          <mat-option [value]="item.value" [disabled]="isOptionDisabled()">
            {{item.name}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
  <mat-action-row>
    <button mat-button class="previousButton" (click)="prevStep()">Previous</button>
    @if (mode=='add' && isTestingUser=='no') {
      <button mat-button color="primary"
      (click)="saveEidAddDRCForm(siteInfoPanelForm.valid,childMotherDetailsPanelForm.valid,motherHealthInfoPanelForm.valid,childInfoPanelForm.valid,specimenInfoPanelForm.valid,labResultPanelForm.valid,'add')">Save</button>
    }
    @if (mode=='edit' && isTestingUser=='no') {
      <button mat-button color="primary"
      (click)="saveEidAddDRCForm(siteInfoPanelForm.valid,childMotherDetailsPanelForm.valid,motherHealthInfoPanelForm.valid,childInfoPanelForm.valid,specimenInfoPanelForm.valid,labResultPanelForm.valid,'update')">Update</button>
    }
    @if (isTestingUser=='yes') {
      <button mat-button color="primary"
      (click)="nextStepSpecimenInformation(specimenInfoPanelForm.valid)">Next</button>
    }
    @if (isTestingUser=='no' && mode=='view') {
      <button mat-button color="primary"
      (click)="goToViewResult()">Next</button>
    }
  </mat-action-row>
</mat-expansion-panel>
}
</form>


<form [formGroup]="labResultPanelForm" novalidate>
  <!--   -->
  @if (isToggled==false && isTestingUser=='yes') {
    <mat-expansion-panel [expanded]="step === 5"
      (opened)="setStep(5)" hideToggle>
      <mat-expansion-panel-header class="matHeader">
        <mat-panel-title>
          Réservé au laboratoire d’analyse
        </mat-panel-title>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </mat-expansion-panel-header>
      <mat-form-field appearance="fill" class="caseID">
        <mat-label>Date de réception de l'échantillon</mat-label>
        <input [readonly]="mode=='view'"
          [attr.readonly]="mode === 'view' ? true : null" matInput type="datetime-local"
          [min]="maxSampleReceivedDate" [max]="maxDatetime" formControlName="sampleReceivedDateTime"
          [required]="labResultPanelForm.controls.sampleRejected.value=='yes' || labResultPanelForm.controls.sampleRejected.value=='no'"
          [errorStateMatcher]="matcher"
          [ngClass]="{ 'mat-form-field-invalid':submitted && labResultPanelForm.controls.sampleRejected.value}">
        <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
        <!-- <ion-icon name="close" *ngIf="mode!='view'" class="clearDateTimeIcon" ios="ios-close"
      (click)="clearSampleReceived()"></ion-icon> -->
      <ion-icon name="close" class="clearDateIcon"
        ios="ios-close"
        [ngClass]="{'disabled-icon': mode === 'view' || mode === 'result edit'}"
        (click)="mode !== 'view' && mode !== 'result edit' && clearSampleReceived()">
      </ion-icon>
      @if (labResultPanelForm.controls.sampleReceivedDateTime.hasError('required')) {
        <mat-error>
          Please enter Date de réception de l'échantillon
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nom du Laboratoire</mat-label>
      <input [readonly]="mode=='view'"
        type="text" matInput formControlName="testingLab" [matAutocomplete]="autoTestingLab"
        [ngClass]="{ 'mat-form-field-invalid':submitted }" [errorStateMatcher]="matcher">
      <mat-autocomplete #autoTestingLab="matAutocomplete">
        <!-- <mat-option *ngFor="let option of testingLabFilteredOptions | async" [value]="option">
        {{option}}
      </mat-option> -->
      @for (item of initArray['testingLabsList']; track item) {
        @if (item.test_type == 'eid') {
          <mat-option [value]="item.show" [disabled]="isOptionDisableds()">
            {{item.show}}
          </mat-option>
        }
      }
    </mat-autocomplete>
    @if (!testingLab) {
      <mat-error>
        Please choose Nom du Laboratoire
      </mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Is Sample Rejected?</mat-label>
    <mat-select [readonly]="mode=='view'"  formControlName="sampleRejected">
      <!-- (selectionChange)="onChangeSampleRejected($event.value)" -->
      <mat-option value="yes" [disabled]="isOptionDisableds()"> Oui </mat-option>
      <mat-option value="no" [disabled]="isOptionDisableds()"> Non </mat-option>
    </mat-select>
  </mat-form-field>
  @if (labResultPanelForm.controls.sampleRejected.value=='no') {
    <mat-form-field appearance="fill" class="caseID">
      <mat-label>Test effectué le</mat-label>
      <input [readonly]="mode=='view'"  matInput type="datetime-local"
        [min]="maxSampleTestDate" [max]="maxDatetime" formControlName="sampleTestDate"
        [required]="labResultPanelForm.controls.sampleRejected.value=='no'" [errorStateMatcher]="matcher"
        [ngClass]="{ 'mat-form-field-invalid':submitted && labResultPanelForm.controls.sampleRejected.value}">
      <!-- <ion-icon name="close" *ngIf="mode!='view'" class="clearDateTimeIcon" ios="ios-close"
    (click)="clearDateOfTesting()"></ion-icon> -->
    <ion-icon name="close" class="clearDateIcon"
      ios="ios-close"
      [ngClass]="{'disabled-icon': mode === 'view' }"
      (click)="mode !== 'view'  && clearDateOfTesting()">
    </ion-icon>
    @if (labResultPanelForm.controls.sampleRejected.value=='no' && labResultPanelForm.controls.sampleTestDate.hasError('required')) {
      <mat-error
        >
        Please enter Test effectué le
      </mat-error>
    }
  </mat-form-field>
}
@if (labResultPanelForm.controls.sampleRejected.value=='no') {
  <mat-form-field appearance="fill">
    <mat-label>Résultat</mat-label>
    <mat-select [readonly]="mode=='view'"  formControlName="result"
      [required]="labResultPanelForm.controls.sampleRejected.value=='no'" [errorStateMatcher]="matcher"
      [ngClass]="{ 'mat-form-field-invalid':submitted && labResultPanelForm.controls.sampleRejected.value}">
      @for (item of RapidTestResultArray; track item) {
        <mat-option [value]="item.value" [disabled]="isOptionDisableds()">
          {{item.name}}
        </mat-option>
      }
    </mat-select>
    @if (labResultPanelForm.controls.sampleRejected.value=='no' && labResultPanelForm.controls.result.hasError('required')) {
      <mat-error
        >
        Please select the Résultat
      </mat-error>
    }
  </mat-form-field>
}
@if (labResultPanelForm.controls.sampleRejected.value=='yes') {
  <mat-form-field appearance="fill">
    <mat-label>Reason for Rejection</mat-label>
    <mat-select [readonly]="mode=='view'"  formControlName="rejectionReason"
      [required]="labResultPanelForm.controls.sampleRejected.value=='yes'" [errorStateMatcher]="matcher"
      [ngClass]="{ 'mat-form-field-invalid':submitted && labResultPanelForm.controls.sampleRejected.value}"
      [(value)]="rejectReasonSelected">
      <!-- (selectionChange)="onChangeRejectReason()" -->
      @for (item of rejectReasonArray; track item) {
        <mat-option [value]="item.value" [disabled]="isOptionDisableds()">
          {{item.name}}
        </mat-option>
      }
    </mat-select>
    @if (labResultPanelForm.controls.rejectionReason.hasError('required')) {
      <mat-error>Please select Reason
        for Rejection
      </mat-error>
    }
  </mat-form-field>
}
@if ((mode=='edit' && isTestingUser=='yes' && (previousRejectedValue=='no' || previousRejectedValue=='yes') && (labResultPanelForm.controls.result.dirty || labResultPanelForm.controls.sampleRejected.dirty))) {
  <mat-form-field appearance="fill"
    >
    <mat-label>Reason for Changing </mat-label>
    <input
      [required]="mode=='edit' && isTestingUser=='yes' && (previousRejectedValue=='no' || previousRejectedValue=='yes') && (labResultPanelForm.controls.result.dirty || labResultPanelForm.controls.sampleRejected.dirty)"
      [readonly]="mode=='view'" [disabled]="mode=='view'" matInput formControlName="reasonForChanging">
  </mat-form-field>
}
<!-- <mat-form-field appearance="fill">
<mat-label>Revu par</mat-label>
<input [readonly]="mode=='view'" [disabled]="mode=='view'" matInput formControlName="reviewedBy"
  [errorStateMatcher]="matcher"
  [ngClass]="{ 'mat-form-field-invalid':submitted && labResultPanelForm.controls.sampleRejected.value}">
</mat-form-field> -->
<mat-form-field appearance="fill">
  <mat-label>Revu par</mat-label>
  <input [readonly]="mode=='view'" matInput formControlName="reviewedBy"
    [matAutocomplete]="reviewedBy" [errorStateMatcher]="matcher"
    [required]="labResultPanelForm.controls.sampleRejected.value=='no'"
    [ngClass]="{ 'mat-form-field-invalid':submitted && labResultPanelForm.controls.sampleRejected.value=='no'}">
  <mat-autocomplete #reviewedBy="matAutocomplete">
    @for (item of initArray['labTechniciansList']; track item) {
      <mat-option [value]="item.show" [disabled]="isOptionDisableds()">
        {{item.show}}
      </mat-option>
    }
  </mat-autocomplete>
  @if (labResultPanelForm.controls.reviewedBy.hasError('required')) {
    <mat-error>Please select reviewed By
    </mat-error>
  }
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Revu le</mat-label>
  <input [readonly]="true"
    [attr.readonly]="mode === 'view' ? true : null" matInput [matDatepicker]="reviewedOnPicker"
    formControlName="reviewedOn" [max]="maxDate" [errorStateMatcher]="matcher"
    [ngClass]="{ 'mat-form-field-invalid':submitted && labResultPanelForm.controls.sampleRejected.value}">
  <mat-datepicker-toggle matSuffix [for]="reviewedOnPicker" [disabled]="mode === 'view'"></mat-datepicker-toggle>
  <mat-datepicker #reviewedOnPicker></mat-datepicker>
</mat-form-field>
<!-- <mat-form-field appearance="fill">
<mat-label>Approuvé par</mat-label>
<input [readonly]="mode=='view'" [disabled]="mode=='view'" matInput formControlName="approvedBy"
  [errorStateMatcher]="matcher"
  [ngClass]="{ 'mat-form-field-invalid':submitted && labResultPanelForm.controls.sampleRejected.value}">
</mat-form-field> -->
<mat-form-field appearance="fill">
  <mat-label>Approuvé par</mat-label>
  <input [readonly]="mode=='view'"  matInput formControlName="approvedBy"
    [matAutocomplete]="approvedBy" [errorStateMatcher]="matcher"
    [required]="labResultPanelForm.controls.sampleRejected.value=='no'"
    [ngClass]="{ 'mat-form-field-invalid':submitted && labResultPanelForm.controls.sampleRejected.value=='no'}">
  <mat-autocomplete #approvedBy="matAutocomplete">
    @for (option of approvedByFilteredOptions | async; track option) {
      <mat-option [value]="option" [disabled]="isOptionDisableds()">
        {{option}}
      </mat-option>
    }
  </mat-autocomplete>
  @if (labResultPanelForm.controls.approvedBy.hasError('required')) {
    <mat-error>Please select approved By
    </mat-error>
  }
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Approuvé le</mat-label>
  <input [readonly]="true"
    [attr.readonly]="mode === 'view' ? true : null" readonly matInput [matDatepicker]="approvedOnPicker"
    formControlName="approvedOn" [max]="maxDate" [errorStateMatcher]="matcher"
    [ngClass]="{ 'mat-form-field-invalid':submitted && labResultPanelForm.controls.sampleRejected.value}">
  <mat-datepicker-toggle matSuffix [for]="approvedOnPicker" [disabled]="mode === 'view'"></mat-datepicker-toggle>
  <mat-datepicker #approvedOnPicker></mat-datepicker>
</mat-form-field>
<mat-action-row>
  <button mat-button class="previousButton" (click)="prevStep()">Previous</button>
  @if (mode=='add' && isTestingUser=='yes') {
    <button mat-button color="primary"
    (click)="saveEidAddDRCForm(siteInfoPanelForm.valid,childMotherDetailsPanelForm.valid,motherHealthInfoPanelForm.valid,childInfoPanelForm.valid,specimenInfoPanelForm.valid,labResultPanelForm.valid,'add')">Save</button>
  }
  @if ((mode=='edit' || mode=='result edit') && isTestingUser=='yes') {
    <button mat-button color="primary"
    (click)="saveEidAddDRCForm(siteInfoPanelForm.valid,childMotherDetailsPanelForm.valid,motherHealthInfoPanelForm.valid,childInfoPanelForm.valid,specimenInfoPanelForm.valid,labResultPanelForm.valid,'update')">Update</button>
  }
  @if (isTestingUser=='yes' && mode=='view') {
    <button mat-button color="primary"
    (click)="goToViewResult()">Next</button>
  }
</mat-action-row>
</mat-expansion-panel>
}
</form>


@if (mode=='view') {
  <mat-expansion-panel class="matPanel" [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        VIEW RESULT
      </mat-panel-title>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </mat-expansion-panel-header>
    @for (item of viewResultArray; track item) {
      <mat-card class="vlsm_mat_card">
        <mat-card-content class="matContent">
          <ion-grid class="matContent">
            @if (item.sampleCode) {
              <ion-row>
                <ion-col size="5">
                  <p text-wrap>
                    <span class="text-title-color">Sample Code</span>
                  </p>
                </ion-col>
                <ion-col size="1">
                  <p text-wrap>
                    <span class="text-title-color">:</span>
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p text-wrap class="values">
                    <span>{{item.sampleCode}}</span>
                  </p>
                </ion-col>
              </ion-row>
            }
            @if (item.sampleReceivedDate) {
              <ion-row>
                <ion-col size="5">
                  <p text-wrap>
                    <span class="text-title-color">Sample Received Date</span>
                  </p>
                </ion-col>
                <ion-col size="1">
                  <p text-wrap>
                    <span class="text-title-color">:</span>
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p text-wrap class="values">
                    <span> {{item.sampleReceivedDate | date :'d MMM y h:mm a'}}</span>
                  </p>
                </ion-col>
              </ion-row>
            }
            @if (item.labName) {
              <ion-row>
                <ion-col size="5">
                  <p text-wrap>
                    <span class="text-title-color">Testing Laboratory</span>
                  </p>
                </ion-col>
                <ion-col size="1">
                  <p text-wrap>
                    <span class="text-title-color">:</span>
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p text-wrap class="values">
                    <span> {{item.labName}}</span>
                  </p>
                </ion-col>
              </ion-row>
            }
            @if (item.sampleCondition) {
              <ion-row>
                <ion-col size="5">
                  <p text-wrap>
                    <span class="text-title-color">Specimen Qualiity</span>
                  </p>
                </ion-col>
                <ion-col size="1">
                  <p text-wrap>
                    <span class="text-title-color">:</span>
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p text-wrap class="values">
                    <span>{{item.sampleCondition}}</span>
                  </p>
                </ion-col>
              </ion-row>
            }
            @if (item.labTechnicianName) {
              <ion-row>
                <ion-col size="5">
                  <p text-wrap>
                    <span class="text-title-color">Lab Technician</span>
                  </p>
                </ion-col>
                <ion-col size="1">
                  <p text-wrap>
                    <span class="text-title-color">:</span>
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p text-wrap class="values">
                    <span>{{item.labTechnicianName}}</span>
                  </p>
                </ion-col>
              </ion-row>
            }
            @if (item.sampleRejected) {
              <ion-row>
                <ion-col size="5">
                  <p text-wrap>
                    <span class="text-title-color">Is Sample Rejected</span>
                  </p>
                </ion-col>
                <ion-col size="1">
                  <p text-wrap>
                    <span class="text-title-color">:</span>
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p text-wrap class="values">
                    <span>{{item.sampleRejected}}</span>
                  </p>
                </ion-col>
              </ion-row>
            }
            @if (item.sampleRejected =='yes' && item.rejectionReason) {
              <ion-row>
                <ion-col size="5">
                  <p text-wrap>
                    <span class="text-title-color">Reason for Rejection</span>
                  </p>
                </ion-col>
                <ion-col size="1">
                  <p text-wrap>
                    <span class="text-title-color">:</span>
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p text-wrap class="values">
                    <span>{{item.sampleRejectionReason}}</span>
                  </p>
                </ion-col>
              </ion-row>
            }
            @if (item.sampleRejected =='yes' && item.rejectionDate) {
              <ion-row>
                <ion-col size="5">
                  <p text-wrap>
                    <span class="text-title-color">Rejection Date</span>
                  </p>
                </ion-col>
                <ion-col size="1">
                  <p text-wrap>
                    <span class="text-title-color">:</span>
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p text-wrap class="values">
                    <span>{{item.rejectionDate | date :'d MMM y'}}</span>
                  </p>
                </ion-col>
              </ion-row>
            }
            @if (item.c19Tests) {
              <ion-row class="testDetailsRow">
                <ion-col size="12">
                  <p text-wrap>
                    <span class="testDetailsSpan">Test Details</span>
                  </p>
                </ion-col>
              </ion-row>
            }
            @if (item.c19Tests) {
              <div>
                @for (testItem of item.c19Tests; track testItem; let i = $index) {
                  <div class="testDetailsDiv">
                    <mat-card class="testDetailsCard">
                      <mat-card-content class="matContent">
                        <ion-row>
                          <ion-col size="5">
                            <p text-wrap>
                              <span class="text-title-color">Test No.</span>
                            </p>
                          </ion-col>
                          <ion-col size="1">
                            <p text-wrap>
                              <span class="text-title-color">:</span>
                            </p>
                          </ion-col>
                          <ion-col size="6">
                            <p text-wrap class="values">
                              <span>{{i+1}}</span>
                            </p>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="5">
                            <p text-wrap>
                              <span class="text-title-color">Test Method</span>
                            </p>
                          </ion-col>
                          <ion-col size="1">
                            <p text-wrap>
                              <span class="text-title-color">:</span>
                            </p>
                          </ion-col>
                          <ion-col size="6">
                            <p text-wrap class="values">
                              <span>{{testItem.testName}}</span>
                            </p>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="5">
                            <p text-wrap>
                              <span class="text-title-color">Date Of Testing</span>
                            </p>
                          </ion-col>
                          <ion-col size="1">
                            <p text-wrap>
                              <span class="text-title-color">:</span>
                            </p>
                          </ion-col>
                          <ion-col size="6">
                            <p text-wrap class="values">
                              <span>{{testItem.testDate | date :'d MMM y h:mm a'}}</span>
                            </p>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="5">
                            <p text-wrap>
                              <span class="text-title-color">Test Platform</span>
                            </p>
                          </ion-col>
                          <ion-col size="1">
                            <p text-wrap>
                              <span class="text-title-color">:</span>
                            </p>
                          </ion-col>
                          <ion-col size="6">
                            <p text-wrap class="values">
                              <span>{{testItem.testingPlatform}}</span>
                            </p>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="5">
                            <p text-wrap>
                              <span class="text-title-color">Test Result</span>
                            </p>
                          </ion-col>
                          <ion-col size="1">
                            <p text-wrap>
                              <span class="text-title-color">:</span>
                            </p>
                          </ion-col>
                          <ion-col size="6">
                            <p text-wrap class="values">
                              <span>{{testItem.result}}</span>
                            </p>
                          </ion-col>
                        </ion-row>
                      </mat-card-content>
                    </mat-card>
                  </div>
                }
              </div>
            }
            @if (item.testedByName) {
              <ion-row>
                <ion-col size="5">
                  <p text-wrap>
                    <span class="text-title-color">Tested By</span>
                  </p>
                </ion-col>
                <ion-col size="1">
                  <p text-wrap>
                    <span class="text-title-color">:</span>
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p text-wrap class="values">
                    <span>{{item.testedByName}}</span>
                  </p>
                </ion-col>
              </ion-row>
            }
            @if (item.isResultAuthorized) {
              <ion-row>
                <ion-col size="5">
                  <p text-wrap>
                    <span class="text-title-color">Is Result Authorized</span>
                  </p>
                </ion-col>
                <ion-col size="1">
                  <p text-wrap>
                    <span class="text-title-color">:</span>
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p text-wrap class="values">
                    <span>{{item.isResultAuthorized}}</span>
                  </p>
                </ion-col>
              </ion-row>
            }
            @if (item.isResultAuthorized=='yes' && item.authorizedBy) {
              <ion-row>
                <ion-col size="5">
                  <p text-wrap>
                    <span class="text-title-color">Authorised By</span>
                  </p>
                </ion-col>
                <ion-col size="1">
                  <p text-wrap>
                    <span class="text-title-color">:</span>
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p text-wrap class="values">
                    <span>{{item.authorizedBy}}</span>
                  </p>
                </ion-col>
              </ion-row>
            }
            @if (item.isResultAuthorized=='yes' && item.authorizedOn) {
              <ion-row>
                <ion-col size="5">
                  <p text-wrap>
                    <span class="text-title-color">Authorised On</span>
                  </p>
                </ion-col>
                <ion-col size="1">
                  <p text-wrap>
                    <span class="text-title-color">:</span>
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p text-wrap class="values">
                    <span>{{item.authorizedOn | date :'d MMM y'}}</span>
                  </p>
                </ion-col>
              </ion-row>
            }
            @if (item.result) {
              <mat-card-actions class="cardActions"
                [ngStyle]="{'background':item.result === 'negative' ? '#bbe4bb' : '#ff6961' }">
                <ion-row class="matActionsRow">
                  <ion-col size="5">
                    <p text-wrap class="matFooterName">
                      Final result
                    </p>
                  </ion-col>
                  <ion-col size="1">
                    <p text-wrap class="colon">
                      <span class="text-title-color">:</span>
                    </p>
                  </ion-col>
                  <ion-col size="6">
                    <p text-wrap class="matFooterValue">
                      {{item.result}}
                    </p>
                  </ion-col>
                </ion-row>
              </mat-card-actions>
            }
          </ion-grid>
        </mat-card-content>
      </mat-card>
    }
    @if (isNoRecord) {
      <mat-card class="vlsm_mat_card">
        <mat-card-content>
          <p class="noRecord">No result found</p>
        </mat-card-content>
      </mat-card>
    }
  </mat-expansion-panel>
}

</mat-accordion>

</ion-content>