<mat-toolbar>
  <!-- <button mat-icon-button> -->
  <ion-menu-button class="menuIcon"></ion-menu-button>
<!-- </button> -->
<p class="mainHeaderName" text-wrap>Profile</p>
</mat-toolbar>

<ion-content>

  <mat-card class="intelis_mat_card">
    <mat-card-content class="matContent">
      <ion-grid class="matContent">

        <form [formGroup]="profileForm" novalidate>
          <mat-form-field appearance="fill">
            <mat-label>
            Name</mat-label>
            <input matInput formControlName="name">
            <mat-icon matSuffix class="matIcons">person</mat-icon>
          </mat-form-field>


          @if (profileForm.controls.role.value) {
            <mat-form-field appearance="fill">
              <mat-label>
              Role</mat-label>
              <input matInput formControlName="role" readonly>
              <mat-icon matSuffix class="matIcons">
                recent_actors
              </mat-icon>
            </mat-form-field>
          }


          <mat-form-field appearance="fill">
            <mat-label>
            Email</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-icon matSuffix class="matIcons">email</mat-icon>
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label>
            Phone no</mat-label>
            <input matInput formControlName="phoneNo" type="tel">
            <mat-icon matSuffix class="matIcons">smartphone</mat-icon>
          </mat-form-field>

          <div class="profileActions">
            <button mat-raised-button class="form-btn1" color="primary" (click)="saveProfile()" [disabled]="isSaving || profileForm.invalid">
              <mat-icon>save</mat-icon>
              Save Profile
            </button>
            <button mat-raised-button class="resetButton" (click)="syncall('syncall')" [disabled]="isDisabled">
              <mat-icon>sync</mat-icon>
              Sync All Requests
            </button>
          </div>

          @if (testingLabsListArray && testingLabsListArray.length) {
            <div class="facilities">
              <p class="facilitiesTitle">Facilities</p>
              <ul>
                @for (item of testingLabsListArray; track $index) {
                  <li>{{item.show}}</li>
                }
              </ul>
            </div>
          }
          </form>
        </ion-grid>
      </mat-card-content>
    </mat-card>
  </ion-content>