<mat-toolbar>
  <!-- <button mat-icon-button> -->
    <ion-menu-button class="menuIcon"></ion-menu-button>
  <!-- </button> -->
  <p class="mainHeaderName" text-wrap>COVID-19 Test Requests</p>
</mat-toolbar>


<ion-content>

  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <ion-searchbar 
  showCancelButton="never"
  class="patientDetailsSearchBar"
  placeholder="Search"
  [(ngModel)]="searchTerm"
  #searchPatient="ngModel"
  (ionInput)="searchUserTestRequests()"
  name="searchPatient"
  mode="ios">
</ion-searchbar>

  <ion-grid class="countGrid" *ngIf="userTestRequestArray.length!=0 || isFiltered">
    <ion-row>
      <ion-col size="6">
        <mat-card class="vlsm_mat_card count" (click)="filterTotalRequests()"
          [ngClass]="{'highlightedTotal' : totalToggle, 'NoHighlighted': !totalToggle}">
          <mat-card-header class="mat_header total">
            <p text-wrap class="countHeaderName">
              Total Requests
            </p>
          </mat-card-header>
          <mat-card-content class="mat_content_count">
            <p class="count total">{{totalRequestsCount}}</p>
          </mat-card-content>
        </mat-card>
      </ion-col>
      <ion-col size="6">
        <mat-card class="vlsm_mat_card count" (click)="filterWithResults()"
          [ngClass]="{'highlightedWithResult' : withResultToggle, 'NoHighlighted': !withResultToggle}">
          <mat-card-header class="mat_header result">
            <p text-wrap class="countHeaderName">
              With Results
            </p>
          </mat-card-header>
          <mat-card-content class="mat_content_count">
            <p class="count result">{{userTestResultArray.length}}</p>
          </mat-card-content>
        </mat-card>
      </ion-col>
    </ion-row>

    <ion-row class="countGrid">
      <ion-col size="6">
        <mat-card class="vlsm_mat_card count" (click)="filterWithoutResults()"
          [ngClass]="{'highlightedWithoutResult' : withoutResultToggle, 'NoHighlighted': !withoutResultToggle}">
          <mat-card-header class="mat_header pending">
            <p text-wrap class="countHeaderName">
              Without Results
            </p>
          </mat-card-header>
          <mat-card-content class="mat_content_count">
            <p class="count pending">{{userTestPendingResultArray.length}}</p>
          </mat-card-content>
        </mat-card>
      </ion-col>
      <ion-col size="6">
        <mat-card class="vlsm_mat_card count" (click)="filterRejectedResults()"
          [ngClass]="{'highlightedRejected' : rejectedToggle, 'NoHighlighted': !rejectedToggle}">
          <mat-card-header class="mat_header rejected">
            <p text-wrap class="countHeaderName">
              Rejected
            </p>
          </mat-card-header>
          <mat-card-content class="mat_content_count">
            <p class="count rejected">{{userTestSampleRejectedArray.length}}</p>
          </mat-card-content>
        </mat-card>
      </ion-col>
    </ion-row>

    <ion-row class="sortRow" *ngIf="userTestRequestArray.length!=0">
      <ion-col size="12">
        <button mat-raised-button class="sortButton" (click)="presentSortingPopover($event)">
          <mat-icon class="matIcons sort"></mat-icon>Sort<mat-icon class="matIcons">keyboard_arrow_down
          </mat-icon>
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- app-  app- -->
  <app-jw-pagination [items]="userTestRequestArray" [search]="searchTerm" *ngIf="userTestRequestArray.length!=0"></app-jw-pagination>

  <!-- ion-skeleton-text code start -->
  <div class="searchSkeleton" *ngIf="userTestRequestArray.length==0 && isFiltered==false">
    <ion-skeleton-text animated style="width: 100%;text-align:center;"></ion-skeleton-text>
  </div>

  <ion-grid class="countGrid" *ngIf="isFiltered==false">
    <ion-row>
      <ion-col size="6">
        <mat-card class="vlsm_mat_card count">
          <mat-card-header class="mat_header total">
            <p text-wrap class="countHeaderName">
              Total Requests
            </p>
          </mat-card-header>
          <mat-card-content class="mat_content_count">
            <p class="count total">
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </p>
          </mat-card-content>
        </mat-card>
      </ion-col>
      <ion-col size="6">
        <mat-card class="vlsm_mat_card count">
          <mat-card-header class="mat_header result">
            <p text-wrap class="countHeaderName">
              With Results
            </p>
          </mat-card-header>
          <mat-card-content class="mat_content_count">
            <p class="count result">
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </p>
          </mat-card-content>
        </mat-card>
      </ion-col>
    </ion-row>

    <ion-row class="countGrid">
      <ion-col size="6">
        <mat-card class="vlsm_mat_card count">
          <mat-card-header class="mat_header pending">
            <p text-wrap class="countHeaderName">
              Without Results
            </p>
          </mat-card-header>
          <mat-card-content class="mat_content_count">
            <p class="count pending">
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </p>
          </mat-card-content>
        </mat-card>
      </ion-col>
      <ion-col size="6">
        <mat-card class="vlsm_mat_card count">
          <mat-card-header class="mat_header rejected">
            <p text-wrap class="countHeaderName">
              Rejected
            </p>
          </mat-card-header>
          <mat-card-content class="mat_content_count">
            <p class="count rejected">
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </p>
          </mat-card-content>
        </mat-card>
      </ion-col>
    </ion-row>

    <ion-row class="sortRow">
      <ion-col size="12">
        <button mat-raised-button class="sortButton">
          <mat-icon class="matIcons sort"></mat-icon>Sort<mat-icon class="matIcons">keyboard_arrow_down
          </mat-icon>
        </button>
      </ion-col>
    </ion-row>


  </ion-grid>


  <mat-card class="vlsm_mat_card" *ngFor="let item of skeltonArray">
    <mat-card-header class="mat_header" [ngStyle]="{'background':getSkeltonColor()}">
      <!-- <p text-wrap class="headerName">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p> -->
    </mat-card-header>

    <mat-card-content class="matContent">

      <ion-grid class="viewGrid">

        <ion-row class="skeltonRow">
          <ion-col size="12">
            <p text-wrap>
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </p>
          </ion-col>
        </ion-row>

        <ion-row class="skeltonRow">
          <ion-col size="12">
            <p text-wrap>
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </p>
          </ion-col>
        </ion-row>

        <ion-row class="skeltonRow">
          <ion-col size="12">
            <p text-wrap>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </p>
          </ion-col>
        </ion-row>

        <ion-row class="skeltonRow">
          <ion-col size="12">
            <p text-wrap>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-col>
        </ion-row>

        <ion-row class="skeltonRow">
          <ion-col size="12">
            <p text-wrap>
              <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            </p>
          </ion-col>
        </ion-row>

        <ion-row class="skeltonRow">
          <ion-col size="12">
            <p text-wrap>
              <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            </p>
          </ion-col>
        </ion-row>

        <ion-row class="skeltonRow">
          <ion-col size="12">
            <p text-wrap>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
          </ion-col>
        </ion-row>

        <ion-row class="skeltonRow">
          <ion-col size="12">
            <p text-wrap>
              <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
            </p>
          </ion-col>
        </ion-row>


        <ion-row class="skeltonRow">
          <ion-col size="12">
            <p text-wrap>
              <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
            </p>
          </ion-col>
        </ion-row>

        <mat-card-actions class="cardActions">
          <mat-divider></mat-divider>
          <ion-row class="matActionsRow">
            <ion-col size="6">
              <button mat-raised-button class="viewButton">
                <mat-icon>visibility</mat-icon>
                <span>View</span>
              </button>
            </ion-col>
            <ion-col size="6">
              <button mat-raised-button class="editButton">
                <mat-icon>mode_edit</mat-icon>
                <span>Edit</span>
              </button>
            </ion-col>
          </ion-row>
        </mat-card-actions>

      </ion-grid>

    </mat-card-content>
  </mat-card>
  <!-- ion-skeleton-text code end -->


  <mat-card class="vlsm_mat_card" *ngIf="isNoRecord">
    <mat-card-content>
      <p class="noRecord">{{isNoRecordText}}</p>
    </mat-card-content>
  </mat-card>

</ion-content>